force-app/main/default/flows/AssignRelationshipOfficersFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Populate_Rel_Officers</name>
        <label>Populate Rel Officers</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Relationship_Officer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Relationship_Officers.Relationship_Officer__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Rel_Officer_Check</name>
        <label>Rel Officer Check</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Relation_Officer_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Relationship_Officers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Rel_Officers</targetReference>
            </connector>
            <label>Relation Officer Exist</label>
        </rules>
    </decisions>
    <description>Populate Relationship Officer Data on record creation / update</description>
    <environments>Default</environments>
    <interviewLabel>AssignRelationshipOfficersFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AssignRelationshipOfficersFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_Relationship_Officers</name>
        <label>Fetch Relationship Officers</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rel_Officer_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Branch_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Branch__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Branch_Relationship_Officer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_Relationship_Officers</targetReference>
        </connector>
        <object>FD_Details__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
