force-app/main/default/flows/FD_Details_Relationship_Officer_Populate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>FD_Detail_Relationship_Officer</name>
        <label>FD Detail Relationship Officer</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Relationship_Officer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetBranchRelationship.Relationship_Officer__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CheckGetRElement</name>
        <label>CheckGetRElement</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GetElementFull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetBranchRelationship</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FD_Detail_Relationship_Officer</targetReference>
            </connector>
            <label>GetElementFull</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FD Details Relationship Officer Populate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FD Details Relationship Officer Populate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetBranchRelationship</name>
        <label>GetBranchRelationship</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckGetRElement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Branch_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Branch__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Branch_Relationship_Officer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetBranchRelationship</targetReference>
        </connector>
        <object>FD_Detail__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
